.App {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    font-size: 18px;
    margin-left: 5px;
}

p {
    margin-left: 5px;
    margin-top: 0px;
}

.inputFieldContainer {
    margin: 10px 10px 10px 10px;
    display: flex;
}

.inputField {
    font-size: 16px;
    color: grey;
}

.stationInput {
    width: 70%;
}

.timeInput {
    width: 30%;
}

.infoButton {
    text-align: right;
}

.quickHelp {
    margin: 5px 5px 5px 5px;
}

.helpText {
    margin-left: 10px;
    margin-right: 10px;
}

.journey {
    padding: 10px;
    border-top: 1px solid black;
    margin-bottom: 10px;
}

.journeyHeader {
    padding-bottom: 5px;
}

.journeyHeaderDetail {
    font-style: italic;
}

.station {
    padding-left: 10px;
    background-color: LightGray;
    font-weight: bold;
}

.routeOptionBox {
    margin: 5px 5px 5px 5px;
}

.routeOption {
    display: flex;
    flex-direction: row;
    background-color: GhostWhite;
}

.lineNameContainer {
    flex-shrink: 0;
    min-width: 6rem;
}

.lineName {
    font-weight: bold;
    text-align: center;
}

.routeOptionEndpoints {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-style: italic;
}

.bakerloo {
    color: #ffffff;
    background-color: #AE6118;
}

.central {
    color: #FFFFFF;
    background-color: #E41F1F;
}

.circle {
    color: #113892;
    background-color: #F8D42D;
}

.district {
    color: #FFFFFF;
    background-color: #007229;
}

.victoria {
    color: #FFFFFF;
    background-color: #009FE0;
}

.hammersmith {
    color: #113892;
    background-color: #E899A8;
}

.jubilee {
    color: #FFFFFF;
    background-color: #686E72;
}

.metropolitan {
    color: #FFFFFF;
    background-color: #893267;
}

.northern {
    color: #FFFFFF;
    background-color: #000000;
}

.overground {
    color: #FFFFFF;
    background-color: #F86;
}

.piccadilly {
    color: #FFFFFF;
    background-color: #0450A1;
}
